
<%- include('parts/header')%> 
<div id="layoutSidenav_content">
    <main>
<div class="container-fluid">
                        <h4 class="mt-4"> <i class="bi bi-wallet2"></i> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                              </svg>  Gérer l'historique des Utilisateurs</h4>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">
                                cette interface montre l'historique des emplois. présentant le nom , prénom d'employé aussi que
                                 la date d'entrée et la date de sortie.</li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Historique d'embauche
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>id_carte</th>
                                                <th>Nom</th>
                                                <th>Date D'entré</th>
                                                <th>Date de sortie</th>
                                                 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i<users.length;i++) { %>
                                                <tr>
                                                    <td><%= i+1 %></td>
                                                    <td><%= users[i].idcart %></td>
                                                    <td><%= users[i].nom %></td>
                                                    <td><%= users[i].dateEntre %></td>
                                                    <td><%= users[i].dateSortie %></td>
                                                    
                                                  
 
                                                </tr>
                                            <% } %> 
                                            
                                        </tbody>

                                        
                                      

                                    </table>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
<%- include('parts/footer')%> 